#Public URL
NEXT_PUBLIC_ENV_TYPE=local
NEXT_PUBLIC_API_URL=http://localhost:3000

#Prisma DB
DATABASE_URL=""
DATABASE_URL_TEST=""

#Next Auth
NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000/

#API Keys
API_KEY=key
API_SECRET=secret

#Email SMTP
EMAIL_SERVER=smtp://user:
EMAIL_SERVER_PASSWORD=password
EMAIL_SERVER_PORT=587
EMAIL_SERVER_HOST=smtp.mailtrap.io
EMAIL_SENDER_USER=user
EMAIL_SENDER_PASSWORD=password
EMAIL_RECEIVER_USER=receiver

#REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB=0